@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Blinker:wght@700&display=swap');

:root {
  --clr-primary: #0A3E65;
  --clr-accent: #27AAE1;
  --clr-white: #fff;


  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.6125rem;
  --fs-400: 1.125rem;

  --fs-600: 1.4rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 3.125rem;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* general style */

section{
 max-width: 67em;
}


.section-header {
  color: #0A3E65;
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  line-height: 50px;
  
  margin:  .5em 0;

}
@media (min-width: 1060px) {
  main{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

@media(max-width: 550px) {
  .section-header {
    margin-top: 1em;
    margin-left: 0;
  }
}

/* primary Nav bar */

.primary-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid #27AAE1;
}

.nav-item {
  color: var(--clr-accent);
  font-size: var(--fs-600);
}


.main-logo {
  width: min(50vw, 200px);
}


@media(max-width: 1024px) and (min-width: 550px) {
  .primary-nav {
    display: grid;
    grid-template-areas: "logo logo logo logo"
      "item1 item2 item3 item4";
  }

  .nav-logo {
    order: 0;
    width: 100%;
    grid-area: logo;
    text-align: center;
  }


  .nav-item {
    font-size: 20px;

    width: 150px;
    text-align: center;
    order: 1;
    border-radius: 2px;
    padding-bottom: 0.5em;

  }

  #nav-item3 {
    grid-area: item1;
  }

  #nav-item3 {
    grid-area: item2;
  }

  #nav-item3 {
    grid-area: item3;
  }

  #nav-item3 {
    grid-area: item4;
  }
}

@media(max-width : 550px) {
  .primary-nav {
    border-bottom: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: .2em;
    padding: 0 3em;
  }

  .nav-logo {
    order: 0;
    width: 100%;
    text-align: center;
  }

  .nav-item {
    font-size: 20px;
    color: var(--clr-white);
    width: 150px;
    text-align: center;
    order: 1;
    border-radius: 2px;
    font-weight: var(--fw-semi-bold);
    background-color: var(--clr-accent);

  }
}


/* our mission section */

.section1 {
  margin: 2em;
}

.first-section-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1-logo {
  max-width: 300px;
  transform: rotate(-130deg);
}

.first-section-content>p {
  font-size: var(--fs-600);
  line-height: 27px;
  font-weight: var(--fw-regular);
  max-width: 750px;

}

@media(max-width : 670px) {
  .section1-logo {
    padding: 2em;

    align-self: flex-start;
  }

  .first-section-content {
    flex-flow: column;
  }
  .section1-logo {
    max-width: 300px;
    transform: rotate(0deg);
  }
}


/* collections section */

.collection-header{
    align-self: flex-start;
}
.collection-section {
  margin: 2em;
  display: flex;
  flex-flow: column;
  
  align-items: center;

}

.collection-img{
  max-width: 350px;
}

.images-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  justify-content: center;
max-width: 67em;
}
@media(max-width: 1100px) {
  .images-container {
    grid-template-columns: repeat(2, 1fr);

  }
  .collection-img{
    max-width: 300px;
  }
}
@media(max-width: 650px) {
  .images-container {
    grid-template-columns: 1fr
  }
}

/*services section */
.services-section {

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.services-header {
  align-self: flex-start;
}

.services-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
}

.services-component {
  background-color: rgb(126, 126, 185);
  max-width: 250px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1em;
  color: var(--clr-white);
  padding: 1em;
  gap: 1em;
}

.services-section>p {
  max-width: 750px;
}

@media(min-width: 1024px) {
  .services-container {
    grid-template-columns: repeat(3, 250px);

  }
}

#serv-one {
  background-color: #E1A870;
}

#serv-tow {
  background-color: #5D488B;
}

#serv-three {
  background-color: #2599BC;
}

#serv-four {
  background-color: #2874CA;
}

#serv-five {
  background-color: #CA5F63;
}

#serv-six {
  background-color: #7B75E3;
}

/* footer */

footer {
  background-color: #0A3E65;
  color: var(--clr-white);
  padding: 2em;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

footer>h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
}

.social-icons-list {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.social-icon {
  max-width: 35px;
  max-height: 35px;
}

.footer-btn {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  padding: .7em 2em;
  border-radius: 10px;

}

.felx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media(max-width : 450px) {
  footer {
    text-align: center;
  }

  .felx {
    flex-flow: column;
    gap: 1em;
  }
}